/* ABOUT */
.about {
  gap: 50px;
  display: flex;
  flex-direction: column;
&__list {
  gap: 30px;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
&__img {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
&__topic {
  margin: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
}
}