// LOGO
.logo {
  display: flex;
  align-items: center;
  font-family: $secondary-font;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;

&--color1 {
  color: $format-color;
}
&--color2 {
  color: $main-color;
}
&--color3 {
  color: white;
}
}